<div class="pagehead"
  style="background-image: url(https://images.igdb.com/igdb/image/upload/t_1080p/{{game.screenshots.0.image_id}}.jpg)">
</div>
<div class="container">
  <div class="gamecov">
    <img class="gameimg z-depth-3"
      src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{game.cover.image_id}}.jpg">
  </div>
  <div class="gametitle">
  <h1>{{game.name}}</h1>
  </div>
  <div class="platformmark row">
    {{#each game.platforms}}
    <div class="btn-small platbut">{{this.name}}</div>
    {{/each}}
  </div>
  <div class="desctext">
    <p class="flow-text">{{game.summary}}</p>
  </div>
  <div class="gamescreenhold">
    <h2 class="white-text">Screenshots</h2>
    <div class="row">
      {{#each game.screenshots}}
      <div class="col s6 m4">
        <div class="card cardimg">
          <div class="card-image">
            <img class="materialboxed" src="https://images.igdb.com/igdb/image/upload/t_screenshot_med_2x/{{this.image_id}}.jpg">
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="simgameshold">
    <h2 class="white-text">Similair Games</h2>
    <div class="row">
      {{#each game.similar_games}}
      <a href="/gamepage?game_id={{this.id}}">
        <div class="col s4 m3">
          <div class="card cardimg homegame expl">
            <div class="card-image">
              <img src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{this.cover.image_id}}.jpg">
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>


  <div class="fixed-action-btn actbtn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">library_add</i>
  </a>
  <ul>
    <li><a class="btn-floating red dobtn" id="wtp">Want to Play</a></li>
    <li><a class="btn-floating yellow darken-1 dobtn" id="playing">Playing</a></li>
    <li><a class="btn-floating green dobtn" id="beaten">Beaten</a></li>
    <li><a class="btn-floating blue dobtn" id="backlog">Backlog</a></li>
  </ul>
</div>
</div>


<script>
  document.getElementById("wtp").addEventListener("click", () => {
    axios.post("{{game.id}}/wtp").then(e => {console.log(e)})
  })
  document.getElementById("playing").addEventListener("click", () => {
    axios.post("{{game.id}}/playing").then(e => {console.log(e)})
  })
  document.getElementById("beaten").addEventListener("click", () => {
    axios.post("{{game.id}}/beaten").then(e => {console.log(e)})
  })

  document.getElementById("backlog").addEventListener("click", () => {
    axios.post("{{game.id}}/backlog").then(e => {console.log(e)})
  })
</script>